/* BODY */

body {
	background-color: #fffdf8;
	font-family: 'Courier New', Consolas, sans-serif, monospace;
	line-height: 1.2em;
	color: #313131;
	text-align: left;
    padding: 3%;

    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 0%;

}

/* TOPNAV */

div.topnav {
    background-color: #E5E4E2;
    padding: 0.6% 1.5%;
    word-wrap: normal;
}

div.topnav a {
    color:#313131;
    font-family: 'Courier New', Consolas, monospace;
}

div.topnav a:hover {
    color: #fffdf8 ;
    animation-duration: 5s;
    border-radius: 0.2%;
}

/* LEFT : BLOG */


div.writing a {
    color:#313131;
    font-family: 'Courier New', Consolas, monospace;
}

div.writing a:hover {
    color: #fffdf8 ;
    animation-duration: 5s;
    border-radius: 0.2%;
}



article.blog-entry {
    margin: 0;
    background-color:#E5E4E2;
    padding: 3%;
    font-family:Arial, Helvetica;
    line-height: 1.1em;
    
}

article.blog-entry a {
    color:#313131;
    font-family: Arial, Helvetica, sans-serif;
}



/* FOOTER */    /*CONTACT*/


footer {
    background-color: #E5E4E2;
    padding: 0.6% 1.5%;
    word-wrap: normal;
    margin-top: 5%;
    text-align: center;
}

div.contact a {
    color:#313131;
    font-family: 'Courier New', Consolas, monospace;
}

div.contact a:hover {
    color: #fffdf8 ;
    animation-duration: 5s;
    border-radius: 0.2%;
}

